.d-mobile {
  display: inline-block;
}

.d-desktop {
  display: none;
}


@media screen and (min-width: 600px) and (min-device-width: 600px) {
  .d-mobile {
    display: none;
  }

  .d-desktop {
    display: inline-block;
  }
}